// Imported Fonts
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// Variables
$body-font:  'Varela', sans-serif;
$heading-font: 'Ubuntu', sans-serif;

// Global
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:"Varela",sans-serif;
    background-color:#dfdfdf;
    overflow-x:scroll;
    scroll-behavior:smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

.menu {
    display:flex;
    flex-direction:row;
    position:fixed;
    bottom:5%;
    width:100%;
    justify-content:center;
    align-items:center;
}
.menu {
    .menu-dots{
        width:10px;
        height:10px;
        background-color:#8f8f8f;
        border-radius:50%;
        margin:0 1em 0;
        transition:.5s all;
    }
}

.logo {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:1em;
    width:100%;
    
    img {
        width:200px;
        height:auto;
    }
} 
.hero {
    width:100vw;
    height:auto
}